{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<h1>Bienvenue !</h1>
<!-- 
To reference an image from app.js-->
<img src="{{ asset('build/images/image1.jpg') }}" alt="joli image1"/> 
<img src="{{ asset('build/images/image1.jpg') }}" alt="joli image1"/> 
<img src="{{ asset('build/images/image1.jpg') }}" alt="joli image1"/> 
{% endblock %}