@import "~bootstrap/scss/bootstrap";

$primary: rgb(35, 26, 61);
$secondary: rgb(61, 26, 26);
$textColor: white;

body {
    background-color: $primary;
    color: $textColor;
}

img {
    width: 500px;
}